{% extends 'base.html' %} {% block head %}
<title>MBTA Station Clocks</title>
{% endblock %} {% block body %}
<div class="arrivals" style="text-align: center; width: 700px">
  <label class="arrival-info">MBTA Station Countdown Clocks</label>
</div>
<div id="links-box">
  <a class="links" href="https://www.mbta.com/" target="_blank">MBTA Website</a>
  <a class="links" href="https://www.mbta.com/maps" target="_blank">T Map</a>
</div>
<div style="text-align: center">
  <input
    type="text"
    id="searchInput"
    placeholder="Enter station name"
    autocomplete="off"
  />
</div>
<ul id="searchResults"></ul>
<footer>
  MBTA Station Clocks is an independent project and is not affiliated with or
  endorsed by the Massachusetts Bay Transportation Authority (MBTA)
  <br />Transit data provided by the MBTA | Created by AJ Dybacki
</footer>
<script src="../static/scripts/index.js"></script>
{% endblock %}
